@use "../../../../variables" as *;
@use "./../../../view/editor-filter-view/editor-filter-view.component.scss";
@use "../../rastering/definitions" as *;

.search-results-list {
  margin-top: 0.5rem;
  max-height: 405px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 4px;
}

.search-results-list.dragging {
  user-select: none;
}

.timeline-row {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  min-height: 18px;
}

.timeline-marker-column {
  width: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 9px;
}

.connector-row {
  width: 9px;
  display: flex;
  justify-content: center;
  margin-left: 0;
  height: 4px;
  transform: translateY(-5px);
}

span.smallstation {
  cursor: pointer;
  color: var(--sbb-form-input-color);
  font-size: var(--sbb-font-size);
  border: 5px solid none;
  margin-left: 4px;
  font-weight: light;
  user-select: none;
}

span.smallstation:hover {
  font-weight: bolder;
  color: var(--COLOR_Edit);
}

.pearl {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--sbb-color-granite);
}

.connector {
  display: inline-block;
  width: 2px;
  height: 32px;
  background: var(--sbb-color-granite);
  transform: translateY(-8px);
}

.timeline-gap {
  height: 6px;
}
