<sbb-search
  (search)="onSearch()"
  aria-label="{{ 'app.view.editor-search-view-component.select-trainrun' | translate }}"
>
  <input
    sbbInput
    [placeholder]="'app.view.editor-search-view-component.search-trainrun' | translate"
    [formControl]="searchControl"
    [sbbAutocomplete]="auto"
  />
</sbb-search>
<sbb-autocomplete #auto="sbbAutocomplete" [displayWith]="displayTrainrun">
  @for (option of filteredTrainruns; track option) {
  <sbb-option [value]="option">{{ transformTrainrunName(option) }}</sbb-option>
  }
</sbb-autocomplete>

@if (searchResults.length === 1 && orderedNodeEntries.length > 0) {
<div
  #trainrunResultsList
  class="search-results-list"
  [class.dragging]="isDraggingResults"
  (mousedown)="onResultListMouseDown($event, trainrunResultsList)"
>
  @for (entry of orderedNodeEntries; track $index; let last = $last) {
  <div class="timeline-row">
    <div class="timeline-marker-column">
      <span class="pearl"></span>
    </div>
    <span
      class="smallstation"
      [title]="transformNodeEntryName(entry)"
      (click)="onOrderedNodeClick(entry)"
    >
      {{ transformNodeEntryName(entry) }}
    </span>
  </div>

  @if (!last && !entry.hasGapAfter) {
  <div class="connector-row">
    <span class="connector"></span>
  </div>
  } @else if (entry.hasGapAfter) {
  <div class="timeline-gap"></div>
  } }
</div>
}
