<div sbbDialogTitle>
  @if (isNewVariant) {
    {{ "app.view.variant.variant-dialog.create-variant" | translate }}
  }
  @if (!isNewVariant) {
    {{ "app.view.variant.variant-dialog.edit-variant" | translate }}
  }
</div>
<div sbbDialogContent>
  <sbb-variant-form [model]="formModel"></sbb-variant-form>
</div>
<div sbbDialogActions>
  <button sbb-button cdkFocusInitial (click)="onCreateClicked()">
    {{ "app.view.variant.variant-dialog.save" | translate }}
  </button>
  <button sbb-secondary-button (click)="onCancelClicked()">
    {{ "app.view.variant.variant-dialog.cancel" | translate }}
  </button>
</div>
