version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
    groups:
      angular:
        patterns:
          - "@angular/*"
          - "@angular-devkit/*"
          - "@angular-eslint/*"
      typescript-eslint:
        patterns:
          - "@typescript-eslint/*"
          - "typescript-eslint"
      patch:
        update-types:
          - "patch"
    commit-message:
      prefix: "chore(deps):"
    labels:
      - "dependencies"
