<div class="matrix-wrapper">
  <button
    type="button"
    class="ODLeftPanelButton ODResetButton"
    [title]="'app.origin-destination.buttons.reset' | translate"
    (click)="onResetButton()"
  >
    <sbb-icon svgIcon="kom:arrow-circle-reset-small"></sbb-icon>
  </button>

  <button
    type="button"
    [class]="'ODLeftPanelButton ODCrossHighlightingButton ' + getCrossHighlightingTag()"
    [title]="'app.origin-destination.buttons.crossHighlighting' | translate"
    (click)="toggleCrossHighlighting()"
  >
    <sbb-icon svgIcon="highlighter-small"></sbb-icon>
  </button>

  <div id="main-origin-destination-container-root"></div>

  <div class="palette-buttons" style="transform: translateX(-64px)">
    <div
      class="palette-option red"
      [class.active]="colorSetName === 'red'"
      title="{{ 'app.origin-destination.palette-buttons.red' | translate }}"
      (click)="onChangePalette('red')"
    ></div>
    <div
      class="palette-option blue"
      [class.active]="colorSetName === 'blue'"
      title="{{ 'app.origin-destination.palette-buttons.blue' | translate }}"
      (click)="onChangePalette('blue')"
    ></div>
    <div
      class="palette-option orange"
      [class.active]="colorSetName === 'orange'"
      title="{{ 'app.origin-destination.palette-buttons.orange' | translate }}"
      (click)="onChangePalette('orange')"
    ></div>
    <div
      class="palette-option gray"
      [class.active]="colorSetName === 'gray'"
      title="{{ 'app.origin-destination.palette-buttons.gray' | translate }}"
      (click)="onChangePalette('gray')"
    ></div>

    <div class="color-by-selector">
      <sbb-radio-group
        class="sbb-checkbox-group-horizontal"
        [(ngModel)]="colorBy"
        style="display: flex; flex-direction: row; gap: 0.5rem; transform: translate(-18px, 92px)"
      >
        <sbb-radio-button
          class="ODRadioButton"
          value="totalCost"
          (change)="onChangeColorBy('totalCost')"
        >
          {{ "app.origin-destination.color-by-selector.total-cost" | translate }}
        </sbb-radio-button>

        <sbb-radio-button
          class="ODRadioButton"
          value="travelTime"
          (change)="onChangeColorBy('travelTime')"
        >
          {{ "app.origin-destination.color-by-selector.travel-time" | translate }}
        </sbb-radio-button>

        <sbb-radio-button
          class="ODRadioButton"
          value="transfers"
          (change)="onChangeColorBy('transfers')"
        >
          {{ "app.origin-destination.color-by-selector.transfers" | translate }}
        </sbb-radio-button>
      </sbb-radio-group>
    </div>
  </div>

  <div
    class="noprint"
    style="
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      height: 57px;
      flex-wrap: nowrap;
    "
  >
    <sbb-radio-group
      class="sbb-checkbox-group-horizontal"
      [(ngModel)]="displayBy"
      style="display: flex; flex-direction: row; gap: 0.5rem; transform: translateX(-16px)"
    >
      <sbb-radio-button
        class="ODRadioButton"
        value="totalCost"
        (change)="onChangeDisplayBy('totalCost')"
      >
        {{ "app.origin-destination.display-by-selector.total-cost" | translate }}
      </sbb-radio-button>
      <sbb-radio-button
        class="ODRadioButton"
        value="travelTime"
        (change)="onChangeDisplayBy('travelTime')"
      >
        {{ "app.origin-destination.display-by-selector.travel-time" | translate }}
      </sbb-radio-button>
      <sbb-radio-button
        class="ODRadioButton"
        value="transfers"
        (change)="onChangeDisplayBy('transfers')"
      >
        {{ "app.origin-destination.display-by-selector.transfers" | translate }}
      </sbb-radio-button>
    </sbb-radio-group>
  </div>
</div>
