.matrix-wrapper {
  position: relative;
  width: 100%;
  height: 98%;
  margin: 8px 0px 0px 42px;

  #main-origin-destination-container-root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 200px);
    height: calc(100% - 61px);
    box-sizing: border-box;
    overflow: hidden;
    border: var(--COLOR_Default) solid 1px;
    background: var(--NODE_DOCKABLE);
  }

  ::ng-deep svg.main-origin-destination-container {
    transform: translateX(16px);
    display: block;
    max-width: 100%;
    height: calc(100% - 10px);
    background: var(--NODE_DOCKABLE);
    border: solid 1px var(--COLOR_Default);
  }

  ::ng-deep .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    background: var(--NODE_DOCKABLE);
  }
  .palette-buttons {
    position: absolute;
    top: 16px;
    right: 24px;
    display: flex;
    gap: 10px;
    z-index: 10;

    .palette-option {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid transparent;
      cursor: pointer;
      transition:
        transform 0.1s,
        border 0.2s;

      &:hover {
        transform: scale(1.1);
      }

      &.active {
        border-color: #000;
        box-shadow:
          0 0 0 2px white,
          0 0 0 3px black;
      }
    }

    .gray {
      background: #a8a8a8;
    }

    .blue {
      background: #0079c7;
    }

    .orange {
      background: #f27e00;
    }

    .red {
      background: #c60018;
    }
  }
  .color-by-selector {
    position: absolute;
    top: 24px;
    padding: 12px 0px;
    border-radius: 2px;
    font-size: var(--sbb-font-size);
    display: flex;
    flex-direction: column;
    gap: 1px;

    label {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
    }

    input[type="radio"] {
      cursor: pointer;
    }
  }

  .sbb-checkbox-group-horizontal {
    position: absolute;
    bottom: 14px;
    left: 12px;
    padding: 8px 8px;
    border-radius: 4px;
    column-gap: 8px;
  }
}

button.ODResetButton {
  min-width: 30px;
  max-width: 30px;
  min-height: 28px;
  max-height: 28px;
  background: var(--COLOR_BACKGROUND);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  color: var(--NODE_TEXT_FOCUS);
  transform: translate(-35px, -4px) scale(1);
  position: absolute;
}

button.ODResetButton:hover {
  background: var(--COLOR_BACKGROUND);
  font-weight: bold;
  transform: translate(-35px, -4px) scale(1.25);
}

button.ODResetButton:active {
  background: var(--COLOR_BACKGROUND);
}

.ODRadioButton:hover {
  font-weight: bold;
}

.sbb-selection-checked {
  font-weight: bold !important;
}
