@if (unusedForTurnaround()) {
  @if (isTrackOccupier()) {
    @if (checkUnrollAllowed()) {
      <svg:path
        [attr.id]="getId()"
        (mouseover)="bringToFront($event)"
        [class]="getClassTag('edge_line TransitLine TrackOccupier')"
        [attr.d]="nodePath()"
      />
    }
  }
  @if (!isTrackOccupier()) {
    @if (isStreckenTrainrunSegment()) {
      <svg:path
        [class]="getClassTag('edge_line isStreckenTrainrunSegment')"
        [attr.d]="nodePath()"
      />
    }
  }
  @if (isTrackOccupier()) {
    <svg:g>
      @if (checkUnrollAllowed()) {
        <ng-container>
          <svg:path
            [attr.id]="getId()"
            (mouseover)="bringToFront($event)"
            [class]="getClassTag('edge_line Gleisbelegung')"
            [attr.d]="pathGleisbelegung()"
            (mouseup)="onEdgeLineClick($event)"
          />
          <svg:path
            [attr.id]="getId()"
            (mouseover)="bringToFront($event)"
            [class]="getClassTag('edge_line Gleisbelegung HeadwayReservation')"
            [attr.d]="pathHeadwayReservation()"
            (mouseup)="onEdgeLineClick($event)"
          />
        </ng-container>
      }
    </svg:g>
  }
}
