<div class="toggle-switch-button-component" [ngClass]="{disabled: disabled}">
  @if (labelFalse) {
    <span [ngClass]="createLabelCheckedTag(false)" (click)="onToggle(false)">{{ labelFalse }}</span>
  }
  <label class="toggle-switch">
    <input
      type="checkbox"
      [ngClass]="createCheckboxClassTag()"
      [checked]="checked"
      (change)="onChange($event.target.checked)"
    />
    <span class="slider"></span>
  </label>
  @if (labelTrue) {
    <span [ngClass]="createLabelCheckedTag(true)" (click)="onToggle(true)">{{ labelTrue }}</span>
  }
</div>
