<section class="global-nodes-management">
  <div class="search">
    <input
      sbbInput
      type="search"
      [(ngModel)]="query"
      [placeholder]="
        'app.view.editor-edit-tools-view-component.nodes-search-placeholder' | translate
      "
    />
  </div>
  <div class="nodes-list">
    @if (getVisibleNodes().length) {
      <table>
        <thead>
          <tr>
            @for (column of ["nodes-expanded", "nodes"]; track column) {
              <th scope="col">
                {{ "app.view.editor-edit-tools-view-component." + column | translate }}
              </th>
            }
          </tr>
          <tr>
            <td>
              <sbb-checkbox
                [checked]="!!getGlobalCheckboxStatus()"
                [indeterminate]="getGlobalCheckboxStatus() === undefined"
                (change)="toggleIsCollapsedOnAllVisibleNodes(!$event.checked)"
              />
            </td>
          </tr>
        </thead>
        <tbody>
          @for (node of getVisibleNodes(); track node.getId()) {
            <tr>
              <td class="offset">
                <sbb-checkbox
                  [checked]="!node.getIsCollapsed()"
                  (change)="node.setIsCollapsed(!$event.checked)"
                />
              </td>
              <td>{{ node.getBetriebspunktName() }}</td>
              <td>{{ node.getFullName() }}</td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <p>{{ "app.view.editor-edit-tools-view-component.nodes-no-result" | translate }}</p>
    }
  </div>
</section>
