@if (hasNoFilterableLabels()) {
  <div>
    <sbb-label class="sbb-mt-m">{{
      "app.view.editor-filter-view.filterable-label-filter.no-labels-available" | translate
    }}</sbb-label>
  </div>
}
@if (!hasNoFilterableLabels()) {
  <div class="sbb-filter-chip-group-main">
    @for (nodeLabelGrp of filterableLabelGroups; track nodeLabelGrp) {
      <div class="sbb-filter-chip-new-group-main"></div>
      <div class="sbb-filter-chip-group-operator">
        @if (isFilterFunctionOrEnabled(nodeLabelGrp)) {
          <button
            class="TrainrunDialog FilterableLabel LogicalOperator"
            (click)="enableLogicalFilterOperatorAnd(nodeLabelGrp)"
          >
            {{ "app.view.editor-filter-view.filterable-label-filter.or" | translate }}
          </button>
        }
        @if (!isFilterFunctionOrEnabled(nodeLabelGrp)) {
          <button
            class="TrainrunDialog FilterableLabel LogicalOperator"
            (click)="enableLogicalFilterOperatorOr(nodeLabelGrp)"
          >
            {{ "app.view.editor-filter-view.filterable-label-filter.and" | translate }}
          </button>
        }
      </div>
      <div class="sbb-filter-chip-group-labels">
        @for (
          labelObject of labelService.getLabelsFromLabelGroupId(nodeLabelGrp.getId());
          track labelObject
        ) {
          <button
            [class]="getLabelClassname(labelObject)"
            (click)="onFilterableLabelChanged(labelObject)"
            mode="ghost"
            [title]="getLabelTooltip(labelObject)"
          >
            {{ labelObject.getLabel() }}
          </button>
        }
      </div>
    }
  </div>
}
@if (!hasNoFilterableLabels()) {
  <div>
    <button
      sbb-secondary-button
      class="sbb-mt-m"
      [disabled]="isFilteringLabels()"
      [title]="'app.view.editor-filter-view.filterable-label-filter.show-all' | translate"
      (click)="OnResetFilterableLabels()"
    >
      {{ "app.view.editor-filter-view.filterable-label-filter.reset-filter" | translate }}
    </button>
  </div>
}
