@use "../rastering/definitions" as *;
@use "data-views/nodes.view";
@use "data-views/trainrunsections.view";
@use "data-views/trainrunsection.previewline.view";
@use "data-views/multiSelectRenderer";
@use "data-views/transition.view";
@use "data-views/connections.view";
@use "data-views/note.view";

::ng-deep svg {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::ng-deep svg {
  shape-rendering: geometricPrecision;
}

::ng-deep svg.ShowCellCursor {
  cursor: cell;
}

::ng-deep .graphContainer {
  background: $COLOR_BACKGROUND;
}

::ng-deep .editor_raster_grid {
  pointer-events: none;
}

::ng-deep .editor_raster_grid_hover_cell {
  opacity: 0.25;
  pointer-events: none;
}

::ng-deep .editor_raster_grid_hover_crosshair {
  stroke: var(--COLOR_Edit);
  stroke-width: 1;
  stroke-dasharray: 4, 4;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
  shape-rendering: crispEdges;
}

::ng-deep .editor_raster_grid_line {
  display: none;
  stroke: $COLOR_STRECKENGRAPHIK_LINE_GRID_X;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
  opacity: 0.25;
  stroke-dasharray: 1, 1;
  shape-rendering: crispEdges;
}

::ng-deep .editor_raster_grid_point {
  display: none;
  stroke: $COLOR_STRECKENGRAPHIK_LINE_GRID_X;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  opacity: 0.5;
  shape-rendering: crispEdges;
}

::ng-deep svg.editor_raster_grid_visible .editor_raster_grid_line,
::ng-deep svg.editor_raster_grid_visible .editor_raster_grid_point {
  display: inline;
}

::ng-deep .editor_raster_grid_line_hover {
  stroke: var(--COLOR_Edit);
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
  opacity: 1;
  stroke-dasharray: 4, 4;
  shape-rendering: crispEdges;
}

::ng-deep .editor_raster_grid_point_hover {
  stroke: var(--COLOR_Edit);
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
  opacity: 1;
  shape-rendering: crispEdges;
}

::ng-deep .enforce_disable_all_pointer_events {
  pointer-events: none;
  opacity: 0.25;
}

::ng-deep .rect.enforce_disable_all_pointer_events {
  pointer-events: none;
  opacity: 0.5;
}

::ng-deep .analyitcs_enforce_disable {
  opacity: 0.25;
}

::ng-deep .text.analyitcs_enforce_disable {
  opacity: 0.25;
}
