@use "../../../../variables" as *;
@use "./../../../view/editor-filter-view/editor-filter-view.component.scss";
@use "../../rastering/definitions" as *;

.search-results-list {
  display: flow-root;
  margin-top: 0.5rem;
  height: auto;
  max-height: 200px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.search-results-list.search-results-overflow {
  overflow-y: auto;
}

.search-results-list:not(.search-results-dragging) {
  cursor: cursor;
}

.search-results-list.search-results-dragging {
  cursor: cursor;
  user-select: none;
}

.alignleft {
  float: left;
  width: 100%;
  margin: 0;
}

span.smallstation {
  cursor: pointer;
  font-size: 12px;
  border: 3px solid var(--sbb-color-background);
  font-weight: lighter;
  user-select: none;
}

span.smallstation:hover {
  font-weight: bolder;
  color: var(--COLOR_Edit);
}
