<div class="content" [ngClass]="getEntryStyle()">
  @if (message) {
    <div class="message">
      {{ message }}
    </div>
  }
  @if (message) {
    <hr />
  }

  <div class="info-fields">
    @if (getTitle(); as title) {
      <div class="info-field title-field">
        {{ title }}
      </div>
    }
    @if (getUserId(); as userId) {
      <div class="info-field title-field user-id" [attr.title]="getUserId()" (click)="copyUserId()">
        {{ userId }}
      </div>
    }
    <div class="info-field date-field">
      <div>
        {{ dateField | date: "dd.MM.yyyy HH:mm" }}
      </div>
    </div>
    @if (commentField && commentField !== "") {
      <div class="info-field comment-field" (click)="copyComment()">
        <br />
        «{{ commentField }}»
      </div>
    }
  </div>
</div>
