@import "../../dialogs/trainrun-and-section-dialog/trainrunsection-tab/trainrun-section-tab.component.scss";
::ng-deep #TrainrunTabViewDialogId {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

::ng-deep .MainTrainrunTabViewDialog {
  position: relative;
  padding-top: 4px; // optical alignment
  border: 1px solid var(--sbb-menu-item-label);
  min-height: 385px;
  max-height: 385px;
  background-color: var(--sbb-header-lean-background-color);
  border-right: none;

  &:before,
  &:after {
    border: 16px solid transparent;
    border-top-color: var(--sbb-menu-item-label);
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
  }

  &:after {
    margin-top: -0.75px;
    border-top-color: var(--sbb-header-lean-background-color);
  }

  .TrainrunTabGroup {
    padding: 15px;
    cursor: move;
  }

  .sbb-tab-group-content {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }

  .sbb-dialog-content {
    padding-top: 0;
  }

  .sbb-dialog-actions {
    padding-bottom: 0;
  }

  .sbb-tab-body {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  .sbb-tab-labels::after {
    cursor: move;
  }

  .closeDialog {
    position: absolute;
    align-self: end;
    padding: 10px 15px;
    z-index: 1001;
  }
}

.closeButtonLayer0 {
  transform: translate(610px, 0px);
  position: absolute;
  border-top-right-radius: 4px;
  width: 40px;
  height: 385px;
  border: 1px solid var(--sbb-menu-item-label);
  background-color: var(--sbb-header-lean-background-color);
}

.closeButtonLayer1 {
  transform: translate(620px, 1px);
  position: absolute;
  width: 10px;
  height: 53px;
  border: 5px solid var(--sbb-header-lean-background-color);
  background-color: var(--sbb-header-lean-background-color);
}

.closeIconLayer0 {
  transform: translate(-7px, 9px);
}
.closeIconLayer0:hover {
  color: #eb0000;
}

.moveButtonLayer0 {
  transform: translate(615px, 57px);
  position: absolute;
  width: 40px;
  height: 328px;
  border: none;
  cursor: move;
}

.moveButtonLayer1 {
  transform: translate(616px, 58px);
  position: absolute;
  width: 20px;
  height: 326px;
  border: 16px solid var(--sbb-header-lean-background-color);
  cursor: move;
}

.moveButtonLayer1:hover {
  border: 16px solid var(--COLOR_TRANSITION_GRAYEDOUT);
  opacity: 0.5;
}

.moveIconLayer1 {
  transform: translate(-12px, 260px);
  pointer-events: none;
  opacity: 0.25;
}

.sbb-tab-group {
  user-select: none;
}

::ng-deep .sbb-tab-body-wrapper {
  cursor: pointer;
}
