<div class="versions-stack">
  @if (releasedEntry) {
    <sbb-released-entry
      [model]="releasedEntry"
      [isWritable]="isWritable"
      (display)="display.emit($event)"
      (restore)="restore.emit($event)"
      (dropChanges)="dropChanges.emit()"
      (ignoreConflict)="ignoreConflict.emit()"
      (saveAsNewVariant)="saveAsNewVariant.emit($event)"
      (download)="download.emit($event)"
    ></sbb-released-entry>
  }

  @if (publishEntry && isWritable) {
    <sbb-publish-entry
      [model]="publishEntry"
      [publishDisabled]="publishDisabled"
      (publishClicked)="publish.emit($event)"
      (dropChangedClicked)="dropChanges.emit()"
    >
    </sbb-publish-entry>
    <hr />
  }

  @for (snapshotEntry of snapshotEntries; track snapshotEntry) {
    <sbb-snapshot-entry
      [model]="snapshotEntry"
      [isWritable]="isWritable"
      (display)="display.emit($event)"
      (restore)="restore.emit($event)"
      (saveAsNewVariant)="saveAsNewVariant.emit($event)"
      (download)="download.emit($event)"
    ></sbb-snapshot-entry>
  }

  @if (canShowMoreSnapshots() || canHideSnapshots()) {
    <div class="show-more-entry">
      @if (canShowMoreSnapshots()) {
        <a (click)="onShowMoreSnapshots()">
          <sbb-icon svgIcon="chevron-down-small"></sbb-icon>
        </a>
      }
      @if (canHideSnapshots()) {
        <a (click)="onShowLessSnapshots()">
          <sbb-icon svgIcon="chevron-up-small"></sbb-icon>
        </a>
      }
    </div>
  }
  <hr />
</div>
