<sbb-header-lean
  label="Netzgrafik-Editor"
  [subtitle]="'app.version' | translate: {version: version}"
  class="sbb-header-fixed-columns noprint"
>
  <sbb-app-chooser-section [label]="'app.user-guide' | translate" class="noprint">
    <a
      href="https://github.com/OpenRailAssociation/netzgrafik-editor-frontend/blob/main/documentation/USERMANUAL.md"
      class="nav-element"
      target="_blank"
    >
      {{ "app.user-manual" | translate }}
    </a>
  </sbb-app-chooser-section>
  @if (environmentLabel) {
    <sbb-header-environment class="noprint">{{ environmentLabel }}</sbb-header-environment>
  }
  @if (authenticated | async) {
    <sbb-usermenu class="noprint" [menu]="menu" [userName]="email" [displayName]="userName">
      <sbb-icon svgIcon="user-small" *sbbIcon></sbb-icon>
    </sbb-usermenu>
  }
  <sbb-menu #menu="sbbMenu">
    <sbb-select
      (selectionChange)="language = $event.value"
      [value]="currentLanguage"
      class="language-selector language-selector-menu"
      (click)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()"
    >
      <sbb-option value="en">🇬🇧 English</sbb-option>
      <sbb-option value="de">🇩🇪 Deutsch</sbb-option>
      <sbb-option value="fr">🇫🇷 Français</sbb-option>
    </sbb-select>
    <hr />
    <button sbb-menu-item (click)="logout()">
      <sbb-icon svgIcon="exit-small" class="sbb-icon-fit"></sbb-icon>
      <span>{{ "app.logout" | translate }}</span>
    </button>
  </sbb-menu>
</sbb-header-lean>
@if (!disableBackend) {
  <sbb-navigation-bar class="noprint"></sbb-navigation-bar>
}
@if (authenticated | async) {
  <router-outlet></router-outlet>
} @else {
  @if (!disableBackend) {
    <sbb-loading-indicator mode="big"></sbb-loading-indicator>
    <div class="login-message">{{ "app.login" | translate }}</div>
  }
  @if (disableBackend) {
    <sbb-netzgrafik-editor></sbb-netzgrafik-editor>
  }
}
