<!---- HORIZONTAL ---->
@if (delayedRendering) {
  @if (horizontal) {
    @for (time of timesTicks; track time) {
      <svg:g>
        <line
          x1="-1000000"
          [attr.y1]="time * getScaleFactor() - 1"
          x2="1000000"
          [attr.y2]="time * getScaleFactor() - 1"
          [class]="getTimeGridClassTag(time)"
        />
      </svg:g>
    }
  }
  <!---- VERTICAL ---->
  @if (!horizontal) {
    @for (time of timesTicks; track time) {
      <svg:g>
        <line
          [attr.x1]="time * getScaleFactor() - 1"
          y1="-1000000"
          [attr.x2]="time * getScaleFactor() - 1"
          y2="1000000"
          [class]="getTimeGridClassTag(time)"
          shape-rendering="crispEdges"
        />
      </svg:g>
    }
  }
}
