<div sbbDialogTitle>
  @if (isNewProject) {
    {{ "app.view.project.project-dialog.create-project" | translate }}
  }
  @if (!isNewProject) {
    {{ "app.view.project.project-dialog.edit-project" | translate }}
  }
</div>
<div sbbDialogContent>
  <sbb-project-form [model]="formModel"></sbb-project-form>
</div>
<div sbbDialogActions>
  @if (isNewProject) {
    <button sbb-button cdkFocusInitial (click)="onCreateClicked()">
      {{ "app.view.project.project-dialog.create" | translate }}
    </button>
  }
  @if (!isNewProject) {
    <button sbb-button cdkFocusInitial (click)="onCreateClicked()">
      {{ "app.view.project.project-dialog.save" | translate }}
    </button>
  }
  <button sbb-secondary-button (click)="onCancelClicked()">
    {{ "app.view.project.project-dialog.cancel" | translate }}
  </button>
</div>
