<h2 class="SummaryTitle">{{ "app.view.editor-search-view-component.search" | translate }}</h2>

<sbb-accordion [multi]="true">
  <sbb-expansion-panel [expanded]="true">
    <sbb-expansion-panel-header
      >{{ "app.view.editor-search-view-component.goto" | translate }}</sbb-expansion-panel-header
    >

    <sbb-label>{{ "app.view.editor-search-view-component.search-node" | translate }}</sbb-label>
    <sbb-editor-node-search-view-component></sbb-editor-node-search-view-component>
    <br />
    <sbb-label>{{ "app.view.editor-search-view-component.search-trainrun" | translate }}</sbb-label>
    <sbb-editor-trainrun-search-view-component></sbb-editor-trainrun-search-view-component>
  </sbb-expansion-panel>
</sbb-accordion>
