@if (horizontal) {
  @for (trackItem of getTrackData(false, 4); track trackItem) {
    <svg:path [attr.d]="trackItem" class="NbrTracks"></svg:path>
  }
  @for (trackItem of getTrackData(true, 4); track trackItem) {
    <svg:path [attr.d]="trackItem" class="MinTracks"></svg:path>
  }
  @for (rectData of getTrackDataRect(true, 4); track rectData) {
    <svg:path [attr.d]="rectData.d" class="MinTracks"></svg:path>
    <svg:text
      [attr.x]="(rectData.x2 + rectData.x1) / 2"
      [attr.y]="(rectData.y2 + rectData.y1) / 2"
      class="MinTracks"
    >
      {{ rectData.nbr }}
    </svg:text>
  }
}
