<sbb-column-layout
  [mode]="mode"
  [showAsideClose]="showToggleAside"
  (asideClosed)="asideClosed()"
  [showFilterClose]="showToggleFilter"
  (filterClosed)="filterClosed()"
>
  <div filter class="col-padding">
    @if (showVariantInfo) {
      <sbb-variant-view></sbb-variant-view>
    }
    @if (showEditorFilter) {
      <sbb-editor-filter-view></sbb-editor-filter-view>
    }
    @if (showEditorEditTools) {
      <sbb-editor-edit-tools-view-component></sbb-editor-edit-tools-view-component>
    }
    @if (showEditorTools) {
      <sbb-editor-tools-view-component></sbb-editor-tools-view-component>
    }
    @if (showEditorProperties) {
      <sbb-editor-properties-view-component></sbb-editor-properties-view-component>
    }
  </div>

  <div main class="sbb-editor-wrapper">
    <div id="main-drawing-container-root" style="width: 98%; height: 100%">
      @if (isMainView()) {
        <sbb-editor-main-view></sbb-editor-main-view>
      }
      @if (isStreckengrafik()) {
        <sbb-streckengrafik [style]="correctZoomFactor()"></sbb-streckengrafik>
      }
      @if (isOriginDestination()) {
        <sbb-origin-destination></sbb-origin-destination>
      }

      <sbb-editor-menu style="width: 0"></sbb-editor-menu>

      <sbb-trainrun-and-section-dialog></sbb-trainrun-and-section-dialog>
      <sbb-base-data-dialog></sbb-base-data-dialog>
      <sbb-confirmation-dialog></sbb-confirmation-dialog>
      <sbb-note-dialog></sbb-note-dialog>
      <sbb-log-notification-toast></sbb-log-notification-toast>
    </div>
  </div>

  <div aside class="col-padding">
    @if (showDetail) {
      <sbb-editor-side-view (closeSideView)="asideClosed()"></sbb-editor-side-view>
    }
    @if (showPerlenkette) {
      <sbb-perlenkette
        [sidebarElementHeight]="filterMainSideViewElement.nativeElement.offsetHeight"
      ></sbb-perlenkette>
    }
  </div>
</sbb-column-layout>
